section {
  padding: 100px 200px;
}

.main {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  background: url(img/4.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main p {
  font-size: 70px;
  font-size: 5.5vw;
  font-weight: 700;
  
}

.main p span {
  display: inline-block;
  margin-top: 10px;
  font-weight: 100%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#0e52d2
}
.main div img {
  padding: 0;
  position:relative;
  justify-content: space-between;
  right: -30%;
  top: 30%;
  width: 38vw;
  height: 35vw;
}


.main-btn {
  color: #ffffff;
  background-color: #00214b;
  text-decoration: none;
  font-size: 10px;
  font-size: 1.5vw; 
  font-weight: 700; /* Adjust font weight */
  display: inline-block;
  padding: 1em 2em; /* Adjust padding */
  letter-spacing: 1px;
  border: 0.2vw solid #000000; /* Adjust border size and color */
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Adjust the height as needed */
}

.main-btn-proj {
  color: #fff;
  background-color: #c465a7;
  text-decoration: none;
  font-size: 1.5em; /* Adjust font size */
  font-weight: 700; /* Adjust font weight */
  display: inline-block;
  padding: 1em 2em; /* Adjust padding */
  letter-spacing: 1px;
  border: 3px solid #c465a7; /* Adjust border size and color */
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}


.button-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh; /* Adjust the height as needed */
}

.main-btn-work {
  color: #fff;
  background-color: #00214b;
  text-decoration: none;
  font-size: 1.7vw; /* Adjust font size */
  font-weight: 700; /* Adjust font weight */
  display: inline-block;
  padding: 1em 2em; /* Adjust padding */
  letter-spacing: 1px;
  border: 10px solid #00214b; /* Adjust border size and color */
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}



.main-btn:hover {
  background-color: #00214b;
  transform: scale(1.1);
}

.social-icons a {
  color: #fff;
  font-size: 1.7em;
  padding-right: 30px;
}

.title {
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 2.7em;
  font-weight: 900;
  margin-bottom: 100px;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  /* 2 columns of equal width */
  grid-template-rows: repeat(2, 1fr);     /* 2 rows of equal height */                            
  justify-items: center;                 /* Center logos horizontally */
  align-items: center;                   /* Center logos vertically */
  width: 3vw;                          /* Adjust the container width */
  right: -19vw;
  position: relative;
}
/*ending cards*/

.card {
  width: 29.25vw;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 1.5vw;
  margin: 15px;
}

.card:hover {
  transform: scale(1.1);
}

.card .icon {
  color: #052347;
  font-size: 8em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3{
  color: #ffffff;
  font-size: 1.2vw;
  font-weight: 700;
  margin: 10px;
}

.projects {
  background-color: #02023e;
  padding-top: 100px;
}

.projects .content{
  margin-top: 30px;
}

.project-card {
  background-color: #fff;
  border: 1px solid #fff;
  width: 18vw;
  overflow: hidden;
  border-radius: 10px;
  margin: 1vw;
  transition: 0.7s ease;
}

.project-card:hover {
 transform: scale(1.1);
}

.project-card:hover .project-image {
  opacity: 0.9;
}

.project-image img{
  width: 100%
}

.project-info {
  padding: 1em;
}

.project-category {
  font-size: 0.8em;
  color: #000;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.more-details {
  text-decoration: none;
  color: #052347;
}

.more-details:hover {
  color: #601cfc;
}

.contact .icon{
  font-size: 4.5em;
}

.contact .info h3 {
  color: #000;
}

.contact .info p {
  font-size: 1.8vw;
}

.cards-contact div img {
  position: relative; 
  margin-left: 25%;
  margin-top: 10%;
  justify-content: center;
  width: 10vw;
}

.arrow img{
  position: relative;
  width: 7%;
  top: -5vw;
  right: -75vw;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 0.2em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: #e6b800;
}

.footer .social-icons a{
  font-size: 1.3em;
  padding: 0 12px 0 0;
}
.footer .social-icons a img{
  width: 25px;
}

@media (max-width:1023px){

  .title{
      font-size: 1.8em;
  }

  section{
      padding: 80px 20px;
  }

  .main-content h2{
      font-size: 1em;
  }

  .main-content h3{
      font-size: 1.6em;
  }

  .content{
      flex-direction: column;
      align-items: center;
  }

}

@media (max-width:641px){
  body{
      font-size: 12px;
  }

  .main-content h2{
      font-size: 0.8em;
  }

  .main-content h3{
      font-size: 1.4em;
  }
}

@media (max-width:300px){
  body{
      font-size: 10px;
   
  }
}