
.projects {
    background-color: #02023e;
    padding-top: 100px;
  }
  
  .projects .content{
    margin-top: 30px;
  }
  
  .project-card {
    background-color: #fff;
    border: 1px solid #fff;
    width: 18vw;
    overflow: hidden;
    border-radius: 10px;
    margin: 1vw;
    transition: 0.7s ease;
  }
  
  .project-card:hover {
   transform: scale(1.1);
  }
  
  .project-card:hover .project-image {
    opacity: 0.9;
  }
  
  .project-image img{
    width: 100%
  }
  
  .project-info {
    padding: 1em;
  }
  
  .project-category {
    font-size: 0.8em;
    color: #000;
  }
  
  .project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
  }
  
.more-details {
    text-decoration: none;
    color: #052347;
  }
  
  .more-details:hover {
    color: #601cfc;
  }
  